.footer {
    height: 5rem;
    padding: 3em 1rem 1rem 1rem;
    box-sizing: border-box;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top: 1px solid rgb(238, 238, 238);

    .logo {
        img {
            width: 6rem;
            height: 100%;
        }
    }

    p {
        font-size: 1.6rem;
        line-height: 1.5;
        font-weight: 300;
        text-align: center;
        color: var(--light-grey);
    }
}

@media(max-width: 360px) {
    .footer {
        height: 8rem;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        .logo {
            img {
               margin-top: 2rem;
            }
        }
       
    }
}