.navbar {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    z-index: 900;
}

.navbar-content {
    
    ul {
        list-style: none;
        display: flex;


        li {
            padding: 1rem;
            margin: 0 2rem;

            &:last-child{
                margin-right: 0;
            }
        }
    } 
}

@media(max-width: 900px) {
    .navbar-content {
        display: none;
    }
}

@media(max-width: 560px) {
    .navbar {
        .logo {

            margin-left: 0;
            img {
                width: 80%;
            }
        }
    }
}