h1 {
    font-size: 3.8rem;
    font-family: 'Barlow', sans-serif; 
    font-weight: 500;
    text-align: center;
    color: var(--black);
} 

h2 {
    font-size: 1.8rem;
    font-family: 'Barlow', sans-serif; 
    font-weight: 500;
    text-align: center;
    color: var(--grey);
}

a {
    text-decoration: none;
    font-family: 'Barlow', sans-serif; 
    font-size: 1.6rem;
    color: var(--grey);
}


@media(max-width: 560px){
    h1 {
        font-size: 3.2rem;
        font-family: 'Barlow', sans-serif; 
        font-weight: 500;
        text-align: center;
        color: var(--black);
    } 
    
    h2 {
        font-size: 2rem;
        font-family: 'Barlow', sans-serif; 
        font-weight: 500;
        text-align: center;
        color: var(--grey);
    }
    
    a {
        text-decoration: none;
        font-family: 'Barlow', sans-serif; 
        font-size: 1.6rem;
        color: var(--grey);
    }
}